<?xml version="1.0" encoding="utf-8"?>
<!--
 /**
 * GoMage ProductDesigner Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2012 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 1.0
 */
 -->
<config>
    <modules>
        <GoMage_ProductDesigner>
            <version>0.0.17</version>
        </GoMage_ProductDesigner>
    </modules>
    <default>
        <gmpd>
            <general>
                <add_to_cart_button>0</add_to_cart_button>
                <format>JPG</format>
                <fixed_price>0</fixed_price>
                <price_for_text>0</price_for_text>
                <price_for_image>0</price_for_image>
                <show_comment>1</show_comment>
                <save_design>1</save_design>
            </general>
            <navigation>
                <enabled>1</enabled>
                <attr_1>color</attr_1>
                <attr_2>size</attr_2>
            </navigation>
            <design>
                <enabled>1</enabled>
                <search>1</search>
                <navigation>1</navigation>
                <design_size_width>500</design_size_width>
                <design_size_height>700</design_size_height>
                <max_layers>2</max_layers>
            </design>
            <text>
                <enabled>1</enabled>
                <effects>1</effects>
                <font>Arial</font>
                <size>16</size>
                <max_layers>2</max_layers>
            </text>
            <upload_image>
                <enabled>1</enabled>
                <copyright>1</copyright>
                <format>PNG,JPG</format>
                <max_size_width>500</max_size_width>
                <max_size_height>700</max_size_height>
            </upload_image>
            <ideas>
                <enabled>1</enabled>
                <search>1</search>
                <navigation>1</navigation>
            </ideas>
            <saved>
                <search>1</search>
                <navigation>1</navigation>
            </saved>
            <share>
                <email>1</email>
                <email_sender>general</email_sender>
                <facebook>1</facebook>
                <twitter>1</twitter>
                <print>1</print>
            </share>
        </gmpd>
    </default>
    <frontend>
        <routers>
            <gomage_designer>
                <use>standard</use>
                <args>
                    <module>GoMage_ProductDesigner</module>
                    <frontName>designer</frontName>
                </args>
            </gomage_designer>
        </routers>
        <layout>
            <updates>
                <gomage_designer module="GoMage_ProductDesigner">
                    <file>gmpd.xml</file>
                </gomage_designer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <product_designer before="Mage_Adminhtml">GoMage_ProductDesigner_Adminhtml</product_designer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gomage_designer>
                    <file>gmpd.xml</file>
                </gomage_designer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product>GoMage_ProductDesigner_Model_Catalog_Product</product>
                    <product_image>GoMage_ProductDesigner_Model_Catalog_Product_Image</product_image>
                </rewrite>
            </catalog>
            <gmpd>
                <class>GoMage_ProductDesigner_Model</class>
                <resourceModel>gmpd_mysql4</resourceModel>
            </gmpd>
            <gmpd_mysql4>
                <class>GoMage_ProductDesigner_Model_Mysql4</class>
                <entities>
                    <clipart_category>
                        <table>gomage_productdesigner_category</table>
                    </clipart_category>
                    <clipart>
                        <table>gomage_productdesigner_clipart</table>
                    </clipart>
                    <uploadedImage>
                        <table>gomage_productdesigner_uploaded_image</table>
                    </uploadedImage>
                    <font>
                        <table>gomage_productdesigner_font</table>
                    </font>
                    <design>
                        <table>gomage_productdesigner_design</table>
                    </design>
                    <publishedDesign>
                        <table>gomage_productdesigner_published_design</table>
                    </publishedDesign>
                </entities>
            </gmpd_mysql4>
        </models>
        <helpers>
            <designer>
                <class>GoMage_ProductDesigner_Helper</class>
            </designer>
        </helpers>
        <blocks>
            <designer>
                <class>GoMage_ProductDesigner_Block</class>
            </designer>
            <adminhtml>
                <rewrite>
                    <catalog_product_helper_form_gallery_content>GoMage_ProductDesigner_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                    <catalog_product_edit_tabs>GoMage_ProductDesigner_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_view_media>GoMage_ProductDesigner_Block_Catalog_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <gomage_productdesigner_setup>
                <setup>
                    <module>GoMage_ProductDesigner</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                    <connection>core_setup</connection>
                </setup>
            </gomage_productdesigner_setup>
        </resources>
    </global>
</config>

